#mypage_wrap{
    width: 100%;
    height: auto;
    position: relative;
}
#gnb_mypage{
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    box-shadow: 0px 0 20px #eee;
    background: #fff;
    text-align: center;
}
.logo{
    position: absolute;
    top: 30px;
    left: 40px;
}
.gnb_left{
    width: 260px;
    margin: 0 auto;
    text-align: left;
    margin-top: 122px;
    
}
.gnb_left li{
    position: relative;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}
.gnb_left li a{
    display: block;
    position: relative;
    padding: 15px 35px 15px 23px;
    font-weight:300;
    color: #222;
    font-size: 17px;
}
.gnb_left li .fa-regular{
    color: #cad0d6;
    transition: all 0.3s;
}
.gnb_left li a span.txt{
    padding-left: 12px;
}
.gnb_left li:hover{
    position: relative;
    margin-bottom: 20px;
    background: #ecf1ff;
    border-radius: 10px;
}

.gnb_left li:hover i{
    color: #4876ef;
}
.gnb_left li.on{
    position: relative;
    margin-bottom: 15px;
    background: #4876ef;
    border-radius: 10px;
}
.gnb_left li.on a{
    color: #fff;
}

#content_wrap{
    display: block;
    width: 100%;
    height: 100%;
}
.cont_mypage{
    position: relative;
    margin: 95px auto 130px;
    padding-left: 280px;
    text-align: left;
    width: 1200px;
}
.cont_mypage h2{
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
    color: #333;
}
#sri_footer{
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
}
#sri_footer .wrap_footer{
    background: #fff;
    border: none;

}
.wrap_footer{
    width: 960px;
    padding-left: 260px;
}

.notice_box2{
    padding-top: 50px;
}
.mypage_resume_list .resume_form{
    text-align: left;
}
.mypage_resume_list .resume_form .resume_cont{
    position: relative;
    padding: 45px 35px 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    transition: all 0.4s;
}
.mypage_resume_list .resume_form .resume_cont:last-child{
    margin-bottom: 0;
}
.mypage_resume_list .resume_form .resume_cont:hover{
    border: 1px solid #91ADF2;
    box-shadow: 0px 0px 10px #eee;
}
.mypage_resume_list .list_title:hover span{
    text-decoration: underline;
    color: #435070;
}
.mypage_resume_list .resume_form .resume_cont .list_title{
    max-width: 760px;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #333;
    padding-bottom: 30px;
}
.mypage_resume_list .resume_form .resume_cont .list_title span{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 760px;
}
.mypage_resume_list .resume_form .resume_cont .list_option{
    font-size: 0;
}
.mypage_resume_list .resume_form .resume_cont .list_option li{
    display: inline-block;
    vertical-align: top;
}
.mypage_resume_list .resume_form .resume_cont .list_option li span{

    padding-left: 22px;
}
.mypage_resume_list .resume_form .resume_cont .list_option .career{
    width: 25%;
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #444;
    font-size: 14px;
    font-weight: 300;

}

.mypage_resume_list .resume_form .resume_cont .list_option .career::before{
    content: "";
    display: block;
    background: url("/img/icon_career.svg") no-repeat center center;
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
}
.mypage_resume_list .resume_form .resume_cont .list_option .part{
    width: 25%;
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mypage_resume_list .resume_form .resume_cont .list_option .part::before{
    content: "";
    display: block;
    background: url("/img/icon_part.svg") no-repeat center center;
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
}

.input_radio{
    display: block;
    position: absolute;
}
.resume_select_box{
    display: block;
    padding-left: 40px;
}

.btn_resume_option{
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -45px;
    text-align: center;
}
.btn_resume_option span{
    display: block;
    width: 150px;
    height: 40px;
    background: #4876ef;
    border-radius: 5px;
    transition: all 0.4s;
}
.btn_resume_option span:first-child{
    margin-bottom: 10px;
}
.btn_resume_option span:last-child{
    background: #fff;
    border: 1px solid #bbb;
}
.btn_resume_option span:last-child a{
    color: #666;
}
.btn_resume_option span a{
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    transition: all 0.4s;
}
.btn_resume_option span:hover{
    background: #0ccca4;

}
.btn_resume_option span:hover a{
    color: #fff;
}
.btn_resume_option span:last-child:hover{
    background: none;
    border-color: #0ccca4;
}
.btn_resume_option span:last-child:hover a{
    color: #0ccca4;
}
.btn_main_resume_select{
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
#btn_main_resume{
    background: #fff;
    border-radius: 5px;
    transition: all 0.4s;
    width: 150px;
    height: 42px;
    cursor: pointer;
    font-weight: bold;
    color: #4876ef;
    border: 1px solid #4876ef;
    margin-right: 40px;
    font-size: 14px;
    letter-spacing: -0.06em;
}
#btn_main_resume:hover{
    background: #ecf1ff;
}

#btnEmployeeUpdate{
    cursor: pointer;
}

#btnEmployeeDelete{
    cursor: pointer;
}

/* ===================이력서등록============================= */
#resume_wrap{
    position: relative;
    width: 100%;
}
#resume_wrap .container{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 140px;
    padding-left: 200px;
}
.resume_update{
    text-align: left;
}
.resume_update input{
    font-family: 'Noto Sans KR', sans-serif;
}
.resume_update button{
    font-family: 'Noto Sans KR', sans-serif;
}
.resume_title{
    width: 1200px;
}
.title_update{
    width: 1200px;
}
.title_input input{
    width: 1140px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #ddd;
    font-size: 32px;
    color: #222;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 60px;
}
.title_input::placeholder{
    color: #eee;
}
.resume_update h2{
    font-size: 24px;
    color: #666;
    line-height: 30px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    margin-top: 50px;
    display: inline-block;
    padding-right: 10px;
}
.resume_update .form_title span{
    display: inline-block;
    font-weight: 300;
    letter-spacing: -0.06em;
    color: #666;
}
.info_form{
    width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 50px 80px 40px;
    background: rgba(238, 238, 238, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
}
.info_form .info_myimg{
    display: block;
    width: 160px;
    height: 180px;
    background: #ccc;
    border: 1px solid #ddd;
}
.info_form .info_myimg img{
    width: 100%;
    height: auto;
    text-align: center;
}
#files{
    padding-left: 0;
    margin-top: 10px;
    background-color: rgba(238, 238, 238, 0.4);
}
button.file_submit{
    display: block;
    cursor: pointer;
    width: 162px;
    height: 38px;
    border-radius: 6px;
    background: #888;
    margin-top: 8px;
    color: #fff;
    transition: all 0.5s;
}
button.file_submit:hover{
    background: #333;
}
.info_form .info_left{
    float: left;
}
.info_form .info_right{
    float: left;
    padding-left: 60px;
}
.info_form .info_right dd{
    margin-bottom: 15px;
}
.info_form .info_right_txt{
    display: inline-block;
    color: #666;
    font-weight: 300;
    width: 100px;
}
.info_form .info_right_input{
    display: inline-block;
    width: 550px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 16px;
}
.edu_select .btn-group{
    display: flex;
    justify-content: space-around;
}
.edu_select .btn-group button{
    display: block;
    width: 50%;
    height: 60px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
    font-size: 18px;
}
.edu_select .btn-group button.on{
    background: #4876ef;
    color: #fff;
}
#univ_btn{
    margin-left: -1px;
}
#univ{
    display: none;
}
.info_form h3{
    padding: 40px 0 30px;
    color:#666;
    font-size: 18px;
}
.edu_form div{
    margin-bottom: 15px;
}
.edu_input .icon{
    display: inline-block;
    color: #333;
    font-size: 17px;
    line-height: 17px;
    padding: 0 10px;
}
.info_form .info_right_input2{
    display: inline-block;
    width: 233px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 16px;
    padding-right: 20px;
}
.edu_input .grade{
    color: #333;
    font-size: 17px;
    padding-left: 5px;
}


.resume_career .btn-group button{
    display: block;
    width: 50%;
    height: 60px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
    font-size: 18px;
}
.resume_career .btn-group button.on{
    background: #4876ef;
    color: #fff;
}
.resume_career .btn-group{
    display: flex;
    justify-content: space-around;
}
#work_btn{
    margin-left: -1px;
}
.resume_career div{
    margin-bottom: 15px;
}
#work{
    display: none;
}

.info_form2{
    width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 50px 80px 40px;
    background: rgba(238, 238, 238, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
}
.info_form2 div{
    margin-bottom: 0;
}
.field_select .part_box_wrap{
    display: flex;
    justify-content: space-around;
}

.field_select .part_box{
    text-align: left;
    margin-bottom: 5px;
}
.field_select .part_box input{
    width: 24px;
    height: 24px;
}
.field_select .part_box em{
    font-style: normal;
    color: #222;
    font-size: 18px;
    line-height: 23px;
    vertical-align: top;
    padding-left: 4px;
    font-weight: 300;
}

.update_btn{
    display: flex;
    justify-content: end;
}
#btnInsertResume{
    display: block;
    width: 260px;
    height: 60px;
    background: #333;
    border-radius: 5px;
    transition: all 0.4s;
    color: #fff;
    font-size: 18px;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.6s;
}
#btnInsertResume:hover{
    background: #4876ef;
}


/* =================== 회원정보 수정 ======================== */
.users_update{
    text-align: left;
}
.users_update input{
    font-family: 'Noto Sans KR', sans-serif;
}
.users_update button{
    font-family: 'Noto Sans KR', sans-serif;
}
.title_update{
    width: 1200px;
}
.title_update h1{
    font-size: 30px;
    line-height: 34px;
}

.users_update h2{
    font-size: 24px;
    color: #666;
    line-height: 30px;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    margin-top: 50px;
    display: inline-block;
    padding-right: 10px;
}
.users_update .form_title span{
    display: inline-block;
    font-weight: 300;
    letter-spacing: -0.06em;
    color: #666;
}
.info_form div{
    margin-bottom: 15px;
}
.login_form div{
    margin-bottom: 15px;
}
.users_update .info_left{
    float: none;
}
.users_update .info_right{
    float: none;
}

.btn_group{
    display: flex;
    justify-content: end;
}
.btn_group .delete_btn{
    margin-left: 10px;
}
#btnEmployeeUpdate{
    display: block;
    width: 260px;
    height: 60px;
    background: #4876ef;
    border-radius: 5px;
    transition: all 0.4s;
    color: #fff;
    font-size: 18px;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.6s;
}
#btnEmployeeUpdate:hover{
    background: #0ccca4;
}
#btnEmployeeDelete{
    display: block;
    width: 260px;
    height: 60px;
    background: #ccc;
    border-radius: 5px;
    transition: all 0.4s;
    color: #fff;
    font-size: 18px;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.6s;
}
#btnEmployeeDelete:hover{
    background: #333;
}


.users_update .info_birth_input{
    width: 530px;
    padding-right: 20px;
}
.login_check{
    cursor: pointer;
}