#mypage_wrap{
    width: 100%;
    height: auto;
    position: relative;
}
#gnb_mypage{
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    box-shadow: 0px 0 20px #eee;
    background: #fff;
    text-align: center;
}
.logo{
    position: absolute;
    top: 30px;
    left: 40px;
}
.gnb_left{
    width: 260px;
    margin: 0 auto;
    text-align: left;
    margin-top: 122px;
    
}
.gnb_left li{
    position: relative;
    margin-bottom: 5px;
    transition: all 0.3s;
}
.gnb_left li a{
    display: block;
    position: relative;
    padding: 15px 35px 15px 23px;
    font-weight:300;
    color: #222;
    font-size: 17px;
}
.gnb_left li .fa-regular{
    color: #cad0d6;
    transition: all 0.3s;
}
.gnb_left li a span.txt{
    padding-left: 12px;
}
.gnb_left li:hover{
    position: relative;
    margin-bottom: 20px;
    background: #ecf1ff;
    border-radius: 10px;
}

.gnb_left li:hover i{
    color: #4876ef;
}
.gnb_left li.on{
    position: relative;
    margin-bottom: 15px;
    background: #4876ef;
    border-radius: 10px;
}
.gnb_left li.on a{
    color: #fff;
}

#content_wrap{
    display: block;
    width: 100%;
    height: 100%;
}
.cont_mypage{
    position: relative;
    margin: 95px auto 130px;
    padding-left: 310px;
    text-align: left;
    width: 1200px;
}
.cont_mypage h2{
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
    color: #333;
}
#sri_footer{
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
}
#sri_footer .wrap_footer{
    background: #fff;
    border: none;

}
.wrap_footer{
    width: 960px;
    padding-left: 310px;
}

.notice_box2{
    padding-top: 50px;
}
.mypage_resume_list .resume_form{
    text-align: left;
}
.mypage_resume_list .resume_form .resume_cont{
    position: relative;
    padding: 45px 35px 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #d9d9d9;
    transition: all 0.4s;
}
.mypage_resume_list .resume_form .resume_cont:last-child{
    margin-bottom: 0;
}
.mypage_resume_list .resume_form .resume_cont:hover{
    border: 1px solid #91ADF2;
    box-shadow: 0px 0px 10px #eee;
}
.mypage_resume_list .list_title:hover span{
    text-decoration: underline;
    color: #435070;
}
.mypage_resume_list .resume_form .resume_cont .list_title{
    max-width: 760px;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #333;
    padding-bottom: 30px;
}
.mypage_resume_list .resume_form .resume_cont .list_title span{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 760px;
}
.mypage_resume_list .resume_form .resume_cont .list_option{
    font-size: 0;
}
.mypage_resume_list .resume_form .resume_cont .list_option li{
    display: inline-block;
    vertical-align: top;
}
.mypage_resume_list .resume_form .resume_cont .list_option li span{

    padding-left: 22px;
}
.mypage_resume_list .resume_form .resume_cont .list_option .career{
    width: 25%;
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #444;
    font-size: 14px;
    font-weight: 300;

}

.mypage_resume_list .resume_form .resume_cont .list_option .career::before{
    content: "";
    display: block;
    background: url("/img/icon_career.svg") no-repeat center center;
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
}
.mypage_resume_list .resume_form .resume_cont .list_option .part{
    width: 25%;
    position: relative;
    height: 24px;
    line-height: 24px;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mypage_resume_list .resume_form .resume_cont .list_option .part::before{
    content: "";
    display: block;
    background: url("/img/icon_part.svg") no-repeat center center;
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
}

.input_radio{
    display: block;
    position: absolute;
}
.resume_select_box{
    display: block;
    padding-left: 40px;
}

.btn_resume_option{
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -45px;
    text-align: center;
}
.btn_resume_option span{
    display: block;
    width: 150px;
    height: 40px;
    background: #4876ef;
    border-radius: 5px;
    transition: all 0.4s;
}
.btn_resume_option span:first-child{
    margin-bottom: 10px;
}
.btn_resume_option span:last-child{
    background: #fff;
    border: 1px solid #bbb;
}
.btn_resume_option span:last-child a{
    color: #666;
}
.btn_resume_option span a{
    font-size: 15px;
    color: #fff;
    line-height: 40px;
    transition: all 0.4s;
}
.btn_resume_option span:hover{
    background: #0ccca4;

}
.btn_resume_option span:hover a{
    color: #fff;
}
.btn_resume_option span:last-child:hover{
    background: none;
    border-color: #0ccca4;
}
.btn_resume_option span:last-child:hover a{
    color: #0ccca4;
}
.btn_main_resume_select{
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
#btn_main_resume{
    background: #fff;
    border-radius: 5px;
    transition: all 0.4s;
    width: 150px;
    height: 42px;
    cursor: pointer;
    font-weight: bold;
    color: #4876ef;
    border: 1px solid #4876ef;
    margin-right: 40px;
    font-size: 14px;
    letter-spacing: -0.06em;
}
#btn_main_resume:hover{
    background: #ecf1ff;
}

#btnEmployeeUpdate{
    cursor: pointer;
}

#btnEmployeeDelete{
    cursor: pointer;
}