@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
a{
    display: block;
    color: #222;
    text-decoration: none !important;
    letter-spacing: -0.06em;
}
img{
    border: none;
    vertical-align: top;
}
ul, ol{
    list-style: none;
}
.cf{}
.cf::after{
    content: "";
    display: block;
    clear: both;
}

button{
    border: none;
    outline: none;
}
